<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="airMapper">

    <resultMap id="airQuality" type="com.Phoenix.AirQuality.air.vo.AirQualityVO">
        <id column="AIR_NO" property="airNo"/>
        <result column="PM_CODE" property="pmCode"/>
        <result column="PM_GRADE" property="pmGrade"/>
        <result column="FPM_CODE" property="fpmCode"/>
        <result column="FPM_GRADE" property="fpmGrade"/>
        <result column="CO2_CODE" property="co2Code"/>
        <result column="VOCS_CODE" property="vocsCode"/>
        <result column="SERIAL_NO" property="serialNo"/>

        <result column="PM_PERCENT" property="pmPercent"/>
        <result column="FPM_PERCENT" property="fpmPercent"/>

        <association property="ciciVO" resultMap="ciciMapper.cici"/>
    </resultMap>

    <!-- PM 데이터 불러오기 (도넛 그래프) -->
    <select id="selectPM" resultMap="airQuality">
        SELECT PM_GRADE
            , DATE_FORMAT(AIR_TIME, '%Y%m%d') AS RESULT_DATE
            , (COUNT(PM_GRADE) / (
                SELECT COUNT(*)
                FROM air_quality
                WHERE DATE_FORMAT(AIR_TIME, '%Y%m%d') = DATE_FORMAT(NOW(), '%Y%m%d'))
                ) * 100 AS PM_PERCENT
        FROM air_quality
        WHERE DATE_FORMAT(AIR_TIME, '%Y%m%d') = DATE_FORMAT(NOW(), '%Y%m%d')
        GROUP BY PM_GRADE
        ORDER BY FIELD(PM_GRADE, '좋음', '보통', '나쁨', '매우 나쁨');
    </select>

    <!-- FPM 데이터 불러오기 (도넛 그래프) -->
    <select id="selectFPM" resultMap="airQuality">
        SELECT FPM_GRADE
            , DATE_FORMAT(AIR_TIME, '%Y%m%d') AS RESULT_DATE
            , (COUNT(FPM_GRADE) / (
                SELECT COUNT(*)
                FROM air_quality
                WHERE DATE_FORMAT(AIR_TIME, '%Y%m%d') = DATE_FORMAT(NOW(), '%Y%m%d'))
                ) * 100 AS FPM_PERCENT
        FROM air_quality
        WHERE DATE_FORMAT(AIR_TIME, '%Y%m%d') = DATE_FORMAT(NOW(), '%Y%m%d')
        GROUP BY FPM_GRADE
        ORDER BY FIELD(FPM_GRADE, '좋음', '보통', '나쁨', '매우 나쁨');
    </select>

    <!-- map/detail로 봤을 때 상세정보 -->
    <select id="airDetailList" resultMap="airQuality">
        SELECT AIR_TIME
        , ROUND(AVG(PM_CODE)) PM_CODE
        , PM_GRADE
        , ROUND(AVG(FPM_CODE)) FPM_CODE
        , FPM_GRADE
        , ROUND(AVG(CICI_CODE)) CICI_CODE
        , CICI_GRADE
        , ROUND(AVG(CO2_CODE)) CO2_CODE
        , ROUND(AVG(VOCS_CODE)) VOCS_CODE
        FROM air_quality A INNER JOIN cici C
        ON A.SERIAL_NO = C.SERIAL_NO AND AIR_TIME = CICI_TIME
        WHERE A.SERIAL_NO = #{serialNo}
        AND DATE_FORMAT(AIR_TIME, '%Y%m%d') =
        (
        SELECT DATE_FORMAT(MAX(AIR_TIME), '%Y%m%d')
        FROM air_quality WHERE SERIAL_NO = #{serialNo}
        )
    </select>

</mapper>































