<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="ciciMapper">

    <resultMap id="cici" type="com.Phoenix.AirQuality.air.vo.CiciVO">
        <id column="CICI_NO" property="ciciNo"/>
        <result column="CICI_CODE" property="ciciCode"/>
        <result column="CICI_GRADE" property="ciciGrade"/>
        <result column="SERIAL_NO" property="serialNo"/>
    </resultMap>

    <!-- 통합실내지수 전체 보기 -->
    <select id="selectCici" resultMap="cici">
        SELECT CICI_NO
            , CICI_CODE
            , CICI_GRADE
            , SERIAL_NO
        FROM CICI
    </select>

    <!-- 가장 높은 실내통합지수 top 10  /  달마다 비교하게 DATE 추가 필요 -->
    <select id="bestCiciTop10" resultMap="cici">
    SELECT SERIAL_NO
        , CICI_CODE
        , CICI_GRADE
    FROM CICI
    ORDER BY CICI_CODE DESC LIMIT 10
    </select>

    <!-- 가장 낮은 실내통합지수 top 10  /  달마다 비교하게 DATE 추가 필요 -->
    <select id="worstCiciTop10" resultMap="cici">
    SELECT SERIAL_NO
        , CICI_CODE
        , CICI_GRADE
    FROM CICI
    ORDER BY CICI_CODE ASC LIMIT 10
    </select>


</mapper>
































