<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="temAndHumMapper">

    <resultMap id="temAndHum" type="com.Phoenix.AirQuality.temandhum.VO.TemAndHumVO">
        <id column="DATA_CODE"          property="dataCode" />
        <result column="DATE_TIME"      property="dataTime"/>
        <result column="SERIAL_NO"      property="serialNo"/>
        <result column="TEMPERATURE"    property="temperature"/>
        <result column="HUMIDITY"       property="humidity"/>
        <result column="MAX_TEMPERATURE"    property="maxTemperature"/>
        <result column="MAX_HUMIDITY"       property="maxHumidity"/>
        <result column="MIN_TEMPERATURE"       property="minTemperature"/>
        <result column="MIN_HUMIDITY"       property="minHumidity"/>
    </resultMap>

    <select id="detailSelect" resultMap="temAndHum">
        SELECT DATA_CODE
        , TEMPERATURE
        , HUMIDITY
        , DATE_TIME
        , SERIAL_NO
        FROM TEMANDHUM
        WHERE SERIAL_NO = #{serialNo}
        AND DATE_TIME = (SELECT MAX(DATE_TIME) FROM temandhum WHERE SERIAL_NO = #{serialNo});
    </select>

    <select id="allSelect" resultMap="temAndHum">
        SELECT DATE_FORMAT(DATE_TIME, '%Y-%m-%d %H') AS DATE_HOUR,
        MAX(TEMPERATURE) AS MAX_TEMPERATURE,
        MAX(HUMIDITY) AS MAX_HUMIDITY,
        MIN(TEMPERATURE) AS MIN_TEMPERATURE,
        MIN(HUMIDITY) AS MIN_HUMIDITY
        FROM temandhum
        WHERE DATE_TIME BETWEEN DATE_FORMAT(NOW(), '%Y-%m-%d 09:00:00') AND DATE_FORMAT(NOW(), '%Y-%m-%d 17:59:59')
        GROUP BY DATE_FORMAT(DATE_TIME, '%Y-%m-%d %H')
    </select>
</mapper>































