<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/detail.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->

    <div class="detail-container">
        <div class="detail-header">
            <h4>아이콘</h4>
            <h3>[[${mapDetail.stationName}]]</h3>
            <h5>[[${today}]]</h5>
        </div>
        <div class="detail-content">
            <div class="detail-chart">
                <div class="cart-header">
                    <h3>미세먼지</h3>
                </div>
                <div class="dounut-div">
                    <!-- 동그라미 선 2개 -->
                    <div class="dounutboard-div">
                        <div class="dounutboard2-div">
                            <div class="dounut-icon"><img src="/icon/miseIcon.gif" width="100%"></div>
                            <div class="dounut-tncl">
                                <h3>10</h3>
                            </div>
                        </div>
                        <div class="cart-checking">
                            <div class="cart1"></div>
                            <span>매우좋음</span>
                            <div class="cart2"></div>
                            <span>좋음</span>
                            <div class="cart3"></div>
                            <span>보통</span>
                            <div class="cart4"></div>
                            <span>나쁨</span>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="detail-figure">
                <div class="figure-main">
                    <div class="figure-left">
                        <div class="mise-div">
                            <img src="/icon/miseIcon.gif" style="width: 100px; height: 100px;"
                                alt="미세먼지">
                            <span>9</span>
                            <span>미세먼지</span>
                        </div>
                        <div class="chomise-div">
                            <img src="/icon/miseIcon.gif" style="width: 100px; height: 100px;"
                                alt="미세먼지">
                            <span>20</span>
                            <span>초미세먼지</span>
                        </div>
                        <div class="all-div">
                            <img src="/icon/miseIcon.gif" style="width: 100px; height: 100px;"
                                alt="미세먼지">
                            <span>20</span>
                            <span>통합실내지수</span>
                        </div>
                    </div>
                    <div class="figure-right">
                        <div class="co2-div">
                            <img src="/icon/miseIcon.gif" style="width: 100px; height: 100px;"
                                alt="미세먼지">
                            <span>20</span>
                            <span>이산화탄소</span>
                        </div>
                        <div class="ugimul-div">
                            <img src="/icon/miseIcon.gif" style="width: 100px; height: 100px;"
                                alt="미세먼지">
                            <span>20</span>
                            <span>휘발성화합유기물</span>
                        </div>
                    </div>
                </div>
                <div class="figure-footer">
                    <div class="onspno-div">
                        <div class="ondo-div">온도</div>
                        <div class="sp-div">습도</div>
                        <div class="noise-div">소음</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>