<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="doughnutFragment">
    <div class="doughnut-container">
        <div class="bi bi-caret-left btn-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"/>
              </svg>
        </div>

        <div class="allWrap" style="margin: 0 auto;">
            <div class="wrap" style="margin-left: 0%;">
    
                <div class="layer small-layer s1">
                    <div>미세먼지 등급 비율</div>
                    <canvas id="doughnut-chart2" style="width: 600px;"></canvas>
                </div>
    
                <div class="layer small-layer s1">
                    <div>초미세먼지 등급 비율</div>
                    <canvas id="doughnut-chart3" style="width: 600px;"></canvas>
                </div>
    
                <div class="layer small-layer s1">
                    <div>통합실내지수 등급 비율</div>
                    <canvas id="doughnut-chart4" style="width: 600px;"></canvas>
                </div>
    
                <div class="layer small-layer s1">
                    <div>소음 등급 비율</div>
                    <canvas id="doughnut-chart1" style="width: 600px;"></canvas>
                </div>
    
                <div class="layer small-layer s1">
                    <div>미세먼지 등급 비율</div>
                    <canvas id="doughnut-chart5" style="width: 600px;"></canvas>
                </div>
    
            </div>
        </div>

        <div class="bi bi-caret-right btn-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
            </svg>
        </div>
    </div>
  
    

</th:block>

</html>