<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="doughnutFragment">
    <div class="allWrap">
        <div class="wrap">

            <div class="layer small-layer s1">
                <div>미세먼지등급비율</div>
                <canvas id="doughnut-chart2" style="width: 300px;"></canvas>
            </div>

            <div class="layer small-layer s1">
                <div>초미세먼지등급비율</div>
                <canvas id="doughnut-chart3" style="width: 300px;"></canvas>
            </div>

            <div class="layer small-layer s1">
                <div>통합실내지수등급비율</div>
                <canvas id="doughnut-chart4" style="width: 300px;"></canvas>
            </div>

            <div class="layer small-layer s1">
                <div>소음등급비율</div>
                <canvas id="doughnut-chart1" style="width: 300px;"></canvas>
            </div>

            <div class="layer small-layer s1">
                <div>미세먼지등급비율</div>
                <canvas id="doughnut-chart5" style="width: 300px;"></canvas>
            </div>

        </div>
    </div>

</th:block>

</html>