<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="tableFragment">
    <table class="rank-table">
        <tr>
            <td colspan="2"><h4>서초구 내 가장 쾌적한 곳 1-5위</h4></td>
        </tr>
        <tr>
            <th scope="row">1위</th>
            <td>내용이 들어갑니다.</td>
        </tr>
        <tr>
            <th scope="row">2위</th>
            <td>내용이 들어갑니다.</td>
        </tr>
        <tr>
            <th scope="row">3위</th>
            <td>내용이 들어갑니다.</td>
        </tr>
        <tr>
            <th scope="row">4위</th>
            <td>내용이 들어갑니다.</td>
        </tr>
        <tr>
            <th scope="row">5위</th>
            <td>내용이 들어갑니다.</td>
        </tr>
    </table>
</th:block>

</html>