<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="decibelMapper">
    <resultMap id="decibel" type="com.Phoenix.AirQuality.average.vo.DecibelVO">
        <id column="DECIBEL_CODE" property="decibelCode"/>
        <result column="DECIBEL" property="decibel"/>
        <result column="DECIBEL_GRADE" property="decibelGrade"/>
        <result column="SERIAL_NO" property="serialNo"/>
        <result column="DECIBEL_PERCENT" property="decibelPercent"/>
    </resultMap>

<!--  데시벨 백분률  -->
    <select id="decibelPie" resultMap="decibel">
        SELECT
        DECIBEL_GRADE
        , DATE_FORMAT(DECIBEL_TIME, '%Y%m%d') AS RESULT_DATE
        , (COUNT(DECIBEL_GRADE) * 100 / (SELECT COUNT(DECIBEL_GRADE) FROM decibel_info)) AS DECIBEL_PERCENT
        FROM decibel_info
        WHERE DATE_FORMAT(DECIBEL_TIME, '%Y%m%d') = DATE_FORMAT(NOW(), '%Y%m%d')
        GROUP BY DECIBEL_GRADE
        ORDER BY FIELD(DECIBEL_GRADE, '매우좋음', '좋음', '보통', '나쁨', '매우나쁨')
    </select>

<!--  오늘 기준 시리얼 넘버가 일치하는 데시벨 정보  -->
    <select id="serialDecibel" resultMap="decibel">
        SELECT * FROM decibel_info
        WHERE SERIAL_NO = #{serialNo}
        AND DATE_FORMAT(DECIBEL_TIME, '%Y%m%d') = DATE_FORMAT(NOW(), '%Y%m%d')
    </select>

</mapper>































